*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  scrollbar-width: 10px;
}
.header{
  display: flex;
  justify-content: space-around;
  height: 20vh;
  align-items: center;
  background-color: black;
  color: #fff;
}
.header-link{
  display: flex;
  justify-content: space-between;
  width: 40%;
  /* gap: 20px; */
  
}
.logo{
  font-size: 20px;
  font-weight: 800;
  color: rgb(178, 178, 178);
}
.page{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  gap: 10px;
  
  justify-content: center;
  /* align-items: center; */
  background-color: black;
}
.page2{
  background-color: rgb(178, 178, 178);
  height: 100vh;
}
.box{
  width: 100px;
  height: 100px;
  background-color: red;
}
.box2{
  width: 100px;
  height: 100px;
background-color: green;
}

.box3{
  width: 100px;
  height: 100px;
  background-color: brown;
}
.page3{
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  font-size: 60px;
  white-space: nowrap;
}
.page4{
  height: 100vh;
  background-color: grey;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-text{
color: rgb(178, 178, 178);
}

.guitar-string{
  height: 300px;
  width: 700px;
  background-color: rgb(149, 149, 149);

}
